@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Light.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Book.woff2");
    font-weight: 350;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Futura PT";
    src: url("../fonts/FuturaPT-Demi.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/SegoeUI-Light.woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum-Regular.woff2");
}

:root {
    --font-family: "Futura PT", sans-serif;
    --second-family: "Segoe UI", sans-serif;
    --third-family: "Forum", sans-serif;
    --main-color: #272727;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    
    width: 100vw;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    padding-inline: 162px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.header {
    background: linear-gradient(to right, #fff 0%, #fff calc(100% - 562px), 
    var(--main-color) calc(100% - 562px), var(--main-color) 100%);
    height: 1024px;
    /* height: 100vh; */
}

.header__logo {
    margin-top: 70px;
}



.nav {
    width: 210px;
    margin-top: 77px;
}



.nav__shopping-cart {
    padding-left: 10px;
    color: #fff;
}

.menu, .languages__ru, .languages__en {
    border: none;
    background: transparent;
}

.intro {
    position: relative;
    margin-block: 281px 281px;
}

.intro__header {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.intro_to-collection {
    font-family: var(--second-family);
    font-style: italic;
    margin-left: 255px;
    position: relative;
    color: var(--main-color);
}

.intro_to-collection::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 180px; 
    width: 130px;
    height: 1px;
    background-color: var(--main-color);
}

.intro__image {
    position: absolute;
    top: -20px;
    right: 50%;
    left: 50%;
}

.languages {
    display: flex;
    align-items: end;
}

.languages__en_disabled {
    color: #c4c4c4;
}

.item-description {
    text-align: right;
}

.item-description__title {
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #fff;
}

.item-description__consist {
    font-weight: 300;
    font-size: 18px;    
    color: #c2c2c2;
}

.item-description__price {
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.03em;
    color: #efc58b;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: 587px;
    color: #fff;
}

.collection p {
    font-family: "Futura PT";
    font-weight: 300;
    font-size: 24px;
}

.to-collection {
    position: relative;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.03em;
    color: inherit;
}

.to-collection::after {
    position: absolute;
    content: "";
    width: 130px;
    height: 1px;
    bottom: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0;
}

.to-collection:hover::after {
    opacity: 1;
    transition: 0.5s;
}

.for-men {
    background: url("../assets/for-men.png") no-repeat;
}

.for-women {
    background: url("../assets/for-women.png") no-repeat;
}

.shop-location {
    background-color: var(--main-color);
}

.find-shop {
    margin-top: 171px;
}

.section-header {
    margin-bottom: 17px;
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0.03em;
    color: #fff;
    
}

.find-shop p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: #fff;
}

.email-form {
    position: relative;
}

.email-form input {
    
    letter-spacing: 0.7px;
    color: #fff;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 10px;
    /* height: 115px; */
    background-color: var(--main-color);
    border: 0;
    border-bottom: 1px solid white;
}

.email-form input:focus {
    outline: none;
}

.email-form input::placeholder {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
}

.shops-map {
    width: 820px;
    height: 604px;
    background: url("../assets/map.svg") no-repeat;
}

button[type="submit"] {
    bottom: 10px;
    right: 0;
    position: absolute;
    border: 0;
    background-color: transparent;
}

.catalog-items {
    height: 820px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 400px;
    height: 400px;
    background-color: #ededed;
}

.catalog-item-center {
    width: 600px;
    height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
    background: url("../assets/necklace-catalog.png") no-repeat;
}

.catalog-item-center .catalog-item-title {
    color: #fff;
}

.catalog-item-center .item-description__consist {
    color: #e7e7e7;
}

.catalog-item img {
    align-self: center;
}

.catalog-description {
    display: flex;
    flex-direction: column;
    margin-top: 67px
}

.catalog-description p {
    margin: 0 0 9px 30px;
}

.catalog-item-title {
    margin: 0;
    color: var(--main-color);
}

.follow-us {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 886px;
    background-color: var(--main-color);
    position: relative;
    /* padding-top: 100px;
    padding-bottom: 100px; */
}

.follow-us .section-header {
    
    margin-top: 60px;
}

.slider {
    display: flex;
    /* position: absolute;
    left: 0; */
    gap: 25px;
}
.social-links img {
    padding-right: 20px;
}

.slider-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
}

.slider-control img {
    margin-inline: 25px;
    width: 51px;
    height: 29px;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    
    background-color: #656565;
}

.circle-active {
    width: 10px;
    height: 10px;
    background-color: #fff;
}

.news-subscription {
    margin-top: -20px;
}

.follow-news {
    margin: 180px 208px 0 183px;
    
}

.main-shop-phone p {
    text-wrap: nowrap;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #272727;
}

.main-shop-phone a {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    color: #959595;
}

.news-subscription .email-form {
    width: 280px;
    margin-top: 110px;
}

.news-subscription .email-form label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: right;
    color: #272727;
}

.news-subscription .email-form input {
    margin-top: 66px;
    background-color: transparent;

    border-bottom: 1px solid var(--main-color);
}

.news-subscription .email-form input::placeholder {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 22px;
    color: #959595;
}

.dark-arrow {
    background-color: #000;
}